.details-container{
    display: flex;
    border: #514134 solid 5px;
    background-color: #a18e7e;
    flex-direction: row-reverse;
    width: 100vh  ;
    height: 60vh;
    margin: 30px;
    float: left;
    border-radius: 20px;
    box-shadow: 10px 5px 5px #a18e7e;
    transition: width 0.6s, height 0.6s, transform 0.6s;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding: 20px;
}

.details-container-padre{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.img-detail{
    width: 500px;
    height: 300px;
}